<%= form_with(model: character, local: true) do |form| %>
  <% if character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
        <% character.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= label_tag :level %>
    <%= form.text_field :level %>
  </div>

  <div class="field">
    <%= label_tag :class %>
    <%= form.text_field :class %>
  </div>

  <div class="field">
    <%= label_tag :strength_modifier %>
    <%= form.text_field :strength_modifier %>
  </div>
  <div class="field">
    <%= label_tag :dexterity_modifier %>
    <%= form.text_field :dexterity_modifier %>
  </div>
  <div class="field">
    <%= label_tag :constitution_modifier %>
    <%= form.text_field :constitution_modifier %>
  </div>
  <div class="field">
    <%= label_tag :intelligence_modifier %>
    <%= form.text_field :intelligence_modifier %>
  </div>
  <div class="field">
    <%= label_tag :wisdom_modifier %>
    <%= form.text_field :wisdom_modifier %>
  </div>
  <div class="field">
    <%= label_tag :charisma_modifier %>
    <%= form.text_field :charisma_modifier %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
