<%= form_for @item, url: items_path, local: true do |form| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% @item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="item-form">
    <div class="field">
      <%= label_tag :name %>
      <%= form.text_field :name, required: true %>
    </div>

    <div class="field">
      <%= label_tag :description %>
      <%= form.text_area :description %>
    </div>
    
    <div class="field">
      <%= label_tag :price %>
      <%= form.text_field :price %>
    </div>

    <div class="field">
      <%= label_tag :currency %>
      <%= form.select :currency, Item.currency_list, include_blank: "Select Currency" %>
    </div>

    <div class="field">
      <%= label_tag :quantity %>
      <%= form.text_field :quantity %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>

